/*===================GRID LAYOUT==============================================================================*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.parent {
    display: grid;
    grid-template-columns: 5% repeat(3, 30%) 5%;
    grid-template-rows: 8% repeat(3, 28%) 8%;
    width: 100vw;
    height: 100vh;
}

.background {
    background-color: lightgray;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.mission {
    grid-area: 2 / 2 / 5 / 4;
    padding: 2em;
    margin: 1em;
    background-color: lightgray;
}

.dice {
    grid-area: 2 / 4 / 3 / 5;
    padding: .75em;
    margin: 1em;
    background-color: lightgray;
}

.character {
    grid-area: 3 / 4 / 5 / 5;
    padding: .75em;
    margin: 1em;
    background-color: lightgray;
}

.footer {
    grid-area: 5 / 1 / 6 / 6;
}

.card2 {
    text-align: center;
    background: white;
    border-radius: 15px;
    -webkit-transition: box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px black;
    overflow: auto;
}

.card2:hover {
    box-shadow: 1px 8px 20px black;
    -webkit-transition: box-shadow .6s ease-in;
}

/*===================NAV STYLING==============================================================================*/
/*a:hover {*/
/*    color: slategrey;*/
/*}*/

.body-text {
    font-weight: bold;
    font-size: large;
}

.scrollText {
    font-weight: lighter;
    font-family: 'Marck Script', cursive;
    font-size: 2.4em;
}

/*button {*/
/*    width: 8em;*/
/*    background: white;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    font-size: .55em;*/
/*    text-transform: uppercase;*/
/*    transition: .2s smooth;*/
/*}*/

/*button:hover {*/
/*    background-color: red;*/
/*    color: white;*/
/*    box-shadow: 1px 3px 5px black;*/
/*    border: none;*/
/*}*/

/*===================BODY TEXT STYLING========================================================================*/

.diceText {
    font-size: 2em;
}

.npcText {
    font-size: 2em;
    margin-top: .5em;
}

.campaign-name {
    color: #EC1A23;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

/*a {*/
/*    color: white;*/
/*}*/

.header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

/*=====================================dnd search css================================*/

.parent-search {
    display: grid;
    grid-template-columns: 5% repeat(3, 30%) 5%;
    grid-template-rows: 8% 6% 39% 39% 8%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
}

.linkName h1:hover {
    color: red;
}

.navBar {
    grid-area: 1 / 1 / 2 / 6;
}

.search-section {
    grid-area: 2 / 2 / 3 / 5;
}

.search-results {
    grid-area: 3 / 2 / 5 / 5;
    padding: 2em;
}

.newClass {
    display: none;
}

.search {
    align-content: center;
    font-size: 1.2em;
}

.search > input {
    width: 200px;
}

.center-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-text {
    text-align: center;
}

.link-name {
    padding: 2em;
}

/*button {*/
/*    width: auto;*/
/*    padding: .3em;*/
/*    background: lightgray;*/
/*    color: black;*/
/*    border: 1px solid black;*/
/*    box-shadow: 0 0 5px black;*/
/*    font-weight: bold;*/
/*    font-size: .55em;*/
/*}*/

/*a {*/
/*    color: white;*/
/*}*/

.dragon {
    background-image: url(../img/monster-dnd.png);
    background-repeat: no-repeat;
    position: fixed;
    bottom: 1em;
    right: 40em;
    z-index: 7;
    height: 15em;
    width: 46em;
    background-size: contain;
    /*-webkit-transform: scaleX(-1);*/
    /*transform: scaleX(-1);*/
}

@media (min-width: 48em) {

}