.navbar {
    padding: 0 !important;
}
.navbar-toggler-icon {
    height: auto!important;
}
.navbar-nav{
    background-color:black;
}

.navbar{
    background-color:black;
}

.navbar-a-links{
    color: white !important;
}

.navbar-a-links:hover {
    color:darkred !important;
    font-weight: bold;
}

.navbar-brand-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white !important;
    font-size: 25px;
    text-decoration: none;
    margin-left: 10px;
}

.navbar-brand-text:hover {
    text-decoration: none;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.nav-logo {
    height: 2.5em;
    width: auto;
}

.nav-logo:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.navbar-btn {
    outline: none;
    border: 0;
    background: black;
}
